USE [BoutiqueDB]
GO
/****** Object:  UserDefinedFunction [dbo].[FuzzyMatchString]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[FuzzyMatchString] (@s1 varchar(100), @s2 varchar(100))
RETURNS int
AS
BEGIN

    DECLARE @i int, @j int;
    SET @i = 1;
    SET @j = 0;
    WHILE @i < LEN(@s1)
    BEGIN
        IF CHARINDEX(SUBSTRING(@s1,@i,2), @s2) > 0 SET @j=@j+1;
        SET @i=@i+1;
    END
    RETURN @j;
END
GO
/****** Object:  Table [dbo].[tbl_user_log]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_user_log](
	[user_name] [varchar](50) NOT NULL,
	[log_url] [varchar](250) NOT NULL,
	[log_date] [date] NULL,
	[log_time] [time](7) NULL,
	[log_sql] [varchar](max) NULL,
	[log_desc] [varchar](max) NULL,
	[rec_id] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [pk_RecID] PRIMARY KEY CLUSTERED 
(
	[rec_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[qry_AuditLog]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[qry_AuditLog] as select row_number() over
(order by rec_id) as RowNumber, user_name as UserName,
log_url as [LogUrl], log_sql as [LogSQL],
log_date as [LogDate], log_time as 
[LogTime]
from tbl_user_log
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[roleID] [bigint] NULL,
	[userID] [bigint] IDENTITY(1,1) NOT NULL,
	[rec_id]  AS ('USER/'+right('0000000000'+CONVERT([varchar](10),[userID]),(10))),
	[fullname] [varchar](400) NULL,
	[username] [varchar](200) NULL,
	[userpassword] [varchar](200) NULL,
	[email] [varchar](200) NULL,
	[telephone] [varchar](20) NULL,
	[updated_date] [date] NULL,
	[updated_time] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerUsers]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerUsers](
	[roleID] [bigint] NULL,
	[userID] [bigint] IDENTITY(1,1) NOT NULL,
	[rec_id]  AS ('CUSTOMER/'+right('0000000000'+CONVERT([varchar](10),[userID]),(10))),
	[fullname] [varchar](400) NULL,
	[username] [varchar](200) NULL,
	[userpassword] [varchar](200) NULL,
	[email] [varchar](200) NULL,
	[telephone] [varchar](20) NULL,
	[updated_date] [date] NULL,
	[updated_time] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionStock]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionStock](
	[stock_id] [bigint] IDENTITY(1,1) NOT NULL,
	[rec_id]  AS ('STOCK/'+right('0000000000'+CONVERT([varchar](10),[stock_id]),(10))),
	[RetailerID] [bigint] NULL,
	[CustomerID] [bigint] NULL,
	[product_id] [bigint] NULL,
	[quantity] [int] NULL,
	[price] [decimal](18, 2) NULL,
	[date_sold] [varchar](200) NULL,
	[time_sold] [varchar](200) NULL,
	[flag_on] [int] NULL,
	[stock_description] [varchar](max) NULL,
	[updated_date] [date] NULL,
	[updated_time] [time](7) NULL,
	[orderID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[stock_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[qry_transaction]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[qry_transaction] as SELECT        row_number() OVER (ORDER BY t .stock_id) AS RowNumber, t .flag_on AS Remark, t .rec_id AS RecID, u.userID AS RetailerID, u.fullname AS [RetailerName], u.email AS RetailerEmail, u.telephone AS RetailerTelephone, 
c.userID AS ConsumerID, U.fullname AS ConsumerName, c.email AS ConsumerEmail, c.telephone AS ConsumerTelephone, t .quantity AS Quantity, t .price AS PriceSold, t .date_sold AS DateSold, t .time_sold AS TimeSold, 
t .updated_date AS UpdatedDate, t .updated_time AS UpdatedTime
FROM            TransactionStock t JOIN
                         Users u ON u.userID = t .RetailerID JOIN
                         CustomerUsers c ON c.userID = t .CustomerID
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[image_id] [bigint] IDENTITY(1,1) NOT NULL,
	[rec_id]  AS ([image_id]),
	[product_id] [bigint] NULL,
	[img_profile] [varchar](200) NULL,
	[updated_date] [date] NULL,
	[updated_time] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [bigint] IDENTITY(1,1) NOT NULL,
	[rec_id]  AS ('PROD/'+right('0000000000'+CONVERT([varchar](10),[product_id]),(10))),
	[category_id] [bigint] NULL,
	[product_name] [varchar](200) NULL,
	[Quantity] [float] NULL,
	[price] [decimal](18, 2) NULL,
	[img_profile] [varchar](200) NULL,
	[product_description] [varchar](max) NULL,
	[updated_date] [date] NULL,
	[updated_time] [time](7) NULL,
	[UserID] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[qry_Image]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[qry_Image] as 
SELECT        ROW_NUMBER() OVER (ORDER BY i.image_id) AS RowNumber, i.rec_id AS RecID, p.UserID AS [UserID], p.product_id AS [ProductID], p.rec_id as [ProductRecID], P.product_name AS ProductName, i.img_profile AS [ImagProfile], 
i.updated_date AS UpdatedDate, i.updated_time AS UpdatedTime
FROM            ProductImage i JOIN
                         Product p ON p.product_id = i.product_id
GO
/****** Object:  Table [dbo].[ProductSize]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSize](
	[SizeID] [bigint] IDENTITY(1,1) NOT NULL,
	[rec_id]  AS ('Size/'+right('0000000000'+CONVERT([varchar](10),[SizeID]),(10))),
	[product_id] [bigint] NULL,
	[size_name] [varchar](200) NULL,
	[updated_date] [date] NULL,
	[updated_time] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[SizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[qry_size]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[qry_size] as SELECT        row_number() OVER (ORDER BY s.SizeID) AS RowNumber, s.rec_id AS RecID, s.product_id AS ProductID, p.UserID as UserID, p.product_name AS ProductName, s.size_name AS [Size], s.updated_date AS UpdatedDate, 
s.updated_time AS UpdatedTime
FROM            ProductSize s JOIN
                         Product p ON p.product_id = s.product_id
GO
/****** Object:  Table [dbo].[category]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[category_id] [bigint] IDENTITY(1,1) NOT NULL,
	[rec_id]  AS ('CAT/'+right('0000000000'+CONVERT([varchar](10),[category_id]),(10))),
	[category_name] [varchar](200) NULL,
	[updated_date] [date] NULL,
	[updated_time] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[qry_category]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[qry_category] as select ROW_NUMBER() over (order by category_id) as RowNumber, rec_id as RecID, category_name as 
CategoryName, updated_date as UpdatedDate,updated_time as UpdatedTime  from category
GO
/****** Object:  Table [dbo].[ProductColor]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductColor](
	[colorID] [bigint] IDENTITY(1,1) NOT NULL,
	[rec_id]  AS ('COL/'+right('0000000000'+CONVERT([varchar](10),[colorID]),(10))),
	[product_id] [bigint] NULL,
	[color_name] [varchar](200) NULL,
	[updated_date] [date] NULL,
	[updated_time] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[colorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[qry_Color]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[qry_Color] as SELECT        row_number() OVER (ORDER BY c.colorID) AS RowNumber, c.rec_id AS RecID, p.userID AS [UserID], p.product_id AS ProductID, p.product_name AS [ProductName], c.color_name AS Color, p.updated_date AS UpdatedDate, 
p.updated_time AS UpdatedTime
FROM            ProductColor c JOIN
                         Product p ON p.product_id = c.product_id
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[roleID] [bigint] IDENTITY(1,1) NOT NULL,
	[rec_id]  AS ('USER/'+right('0000000000'+CONVERT([varchar](10),[roleID]),(10))),
	[role_name] [varchar](200) NULL,
	[updated_date] [date] NULL,
	[updated_time] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[roleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[qry_Role]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[qry_Role] as select ROW_NUMBER() over (order by roleID) as RowNumber, rec_id as RecID, 
role_name as RoleName, updated_date as UpdatedDate, updated_time as UpdatedTime
from UserRole
GO
/****** Object:  View [dbo].[qry_User]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[qry_User] as SELECT        row_number() OVER (ORDER BY u.userID) AS 
RowNumber, U.userID as [UserID], u.rec_id AS RecID, r.role_name AS RoleName,
u.fullname AS [FullNames], u.username AS [UserName],
u.userpassword AS [User Password], 
u.email AS [Email Address], 
u.telephone AS [Telephone Number], 
u.updated_date AS UpdatedDate,
u.updated_time AS UpdatedTime
FROM Users u JOIN
UserRole r ON r.roleID = u.roleID
GO
/****** Object:  View [dbo].[qry_CustomerUser]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[qry_CustomerUser] as SELECT        row_number() OVER (ORDER BY u.userID) AS RowNumber, u.rec_id AS RecID, u.userID as UserID, r.role_name AS RoleName, u.fullname AS [FullNames], u.username AS [UserName], u.userpassword AS [User Password], 
u.email AS [Email Address], u.telephone AS [Telephone Number], u.updated_date AS UpdatedDate, u.updated_time AS UpdatedTime
FROM            CustomerUsers u JOIN
                         UserRole r ON r.roleID = u.roleID
GO
/****** Object:  Table [dbo].[Store]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store](
	[store_id] [bigint] IDENTITY(1,1) NOT NULL,
	[rec_id]  AS ('ST/'+right('0000000000'+CONVERT([varchar](10),[store_id]),(10))),
	[store_name] [varchar](200) NULL,
	[branch_name] [varchar](200) NULL,
	[store_address] [varchar](max) NULL,
	[store_description] [varchar](max) NULL,
	[userID] [bigint] NULL,
	[updated_date] [date] NULL,
	[updated_time] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[store_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[qry_Store]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[qry_Store] as SELECT        row_number() OVER (ORDER BY s.store_id) AS RowNumber, s.rec_id AS RecID, u.userID as UserID, u.fullname AS FullName, u.email AS Email, u.telephone AS TelephoneNo, s.store_name AS StoreName, s.branch_name AS BranchName, 
s.store_address AS StoreAddress, s.store_description AS StoreDescription, s.updated_date AS UpdatedDate, s.updated_time AS UpdatedTime
FROM            Store s JOIN
                         Users u ON u.userID = s.userID
GO
/****** Object:  View [dbo].[qry_Product]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[qry_Product] as SELECT        ROW_NUMBER() OVER (ORDER BY p.product_id) AS RowNumber, P.PRODUCT_ID AS ProductID, u.userID AS UserID, p.rec_id AS RecID, u.fullname AS RetailerName, c.category_id AS CategoryID, c.category_name AS CategoryName, 
p.product_name AS ProductName, p.Quantity AS Quantity, p.price AS Price, p.product_description AS ProductDescription, img_profile AS ImgProfile, p.updated_date AS UpdatedDate, p.updated_time AS UpdatedTime
FROM            Product p JOIN
                         Category c ON c.category_id = p.category_id JOIN
                         Users u ON u.userID = p.UserID
GO
/****** Object:  Table [dbo].[tbl_dict_tables]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_dict_tables](
	[rec_id] [bigint] IDENTITY(1,1) NOT NULL,
	[panel_id] [varchar](50) NOT NULL,
	[table_name] [varchar](50) NOT NULL,
	[key_name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_dict_tables] PRIMARY KEY CLUSTERED 
(
	[panel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([category_id], [category_name], [updated_date], [updated_time]) VALUES (1, N'Men Shirt', CAST(N'2021-07-21' AS Date), CAST(N'20:02:03.9000000' AS Time))
INSERT [dbo].[category] ([category_id], [category_name], [updated_date], [updated_time]) VALUES (2, N'Female Shirt', CAST(N'2021-07-21' AS Date), CAST(N'20:02:18.6033333' AS Time))
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerUsers] ON 

INSERT [dbo].[CustomerUsers] ([roleID], [userID], [fullname], [username], [userpassword], [email], [telephone], [updated_date], [updated_time]) VALUES (2, 1, N'NWAUKWA CHINEDU JOHNWENDY', N'USER', N'mmPnx9f3lWlheMlx2D13dw==', N'JOHNWENDY@GMAIL.COM', N'08034534634', CAST(N'2021-07-22' AS Date), CAST(N'10:47:18.1066667' AS Time))
INSERT [dbo].[CustomerUsers] ([roleID], [userID], [fullname], [username], [userpassword], [email], [telephone], [updated_date], [updated_time]) VALUES (2, 2, N'PETER NWONSU', N'PETER', N'mmPnx9f3lWlheMlx2D13dw==', N'PETER@GMAIL.COM', N'08034534633', CAST(N'2021-07-23' AS Date), CAST(N'13:06:03.5433333' AS Time))
SET IDENTITY_INSERT [dbo].[CustomerUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([product_id], [category_id], [product_name], [Quantity], [price], [img_profile], [product_description], [updated_date], [updated_time], [UserID]) VALUES (1, 2, N'Elastic Waist Dress', 4, CAST(12000.00 AS Decimal(18, 2)), N'dist/20217212012product-image2-1.jpg', N'', CAST(N'2021-07-21' AS Date), CAST(N'20:12:13.4933333' AS Time), 1)
INSERT [dbo].[Product] ([product_id], [category_id], [product_name], [Quantity], [price], [img_profile], [product_description], [updated_date], [updated_time], [UserID]) VALUES (2, 2, N'Edna Dress', 4, CAST(100000.00 AS Decimal(18, 2)), N'dist/202172290product-image1-1.jpg', N'<h1>
	<strong>Description</strong></h1>
<p>
	<strong>Edna dress is good for the winter season. Get yours at affordable price. We sell one for 25000 Naira only</strong></p>
', CAST(N'2021-07-22' AS Date), CAST(N'09:00:26.5233333' AS Time), 1)
INSERT [dbo].[Product] ([product_id], [category_id], [product_name], [Quantity], [price], [img_profile], [product_description], [updated_date], [updated_time], [UserID]) VALUES (3, 2, N'3/4 Sleeve Kimono Dress', 5, CAST(50000.00 AS Decimal(18, 2)), N'dist/202172291product-image3-1.jpg', N'<h1>
	<strong>Description</strong></h1>
<p>
	<strong>Simple and Elegant wear for the single ladies and the pregnant women.&nbsp;</strong>3/4 Sleeve Kimono Dress is simple and cheap. It is just 10000 naira for one only</p>
', CAST(N'2021-07-22' AS Date), CAST(N'09:01:55.2766667' AS Time), 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductColor] ON 

INSERT [dbo].[ProductColor] ([colorID], [product_id], [color_name], [updated_date], [updated_time]) VALUES (1, 1, N'Blue', CAST(N'2021-07-21' AS Date), CAST(N'20:18:25.6833333' AS Time))
SET IDENTITY_INSERT [dbo].[ProductColor] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImage] ON 

INSERT [dbo].[ProductImage] ([image_id], [product_id], [img_profile], [updated_date], [updated_time]) VALUES (1, 1, N'dist/20217221020product-image2-1.jpg', CAST(N'2021-07-21' AS Date), CAST(N'20:18:41.8300000' AS Time))
INSERT [dbo].[ProductImage] ([image_id], [product_id], [img_profile], [updated_date], [updated_time]) VALUES (2, 1, N'dist/20217221020product-image4-1.jpg', CAST(N'2021-07-22' AS Date), CAST(N'10:20:59.2600000' AS Time))
SET IDENTITY_INSERT [dbo].[ProductImage] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductSize] ON 

INSERT [dbo].[ProductSize] ([SizeID], [product_id], [size_name], [updated_date], [updated_time]) VALUES (1, 1, N'XXS', CAST(N'2021-07-21' AS Date), CAST(N'20:19:05.7800000' AS Time))
INSERT [dbo].[ProductSize] ([SizeID], [product_id], [size_name], [updated_date], [updated_time]) VALUES (2, 1, N'XS', CAST(N'2021-07-21' AS Date), CAST(N'20:19:09.6100000' AS Time))
INSERT [dbo].[ProductSize] ([SizeID], [product_id], [size_name], [updated_date], [updated_time]) VALUES (3, 1, N'S', CAST(N'2021-07-21' AS Date), CAST(N'20:19:11.8200000' AS Time))
SET IDENTITY_INSERT [dbo].[ProductSize] OFF
GO
SET IDENTITY_INSERT [dbo].[Store] ON 

INSERT [dbo].[Store] ([store_id], [store_name], [branch_name], [store_address], [store_description], [userID], [updated_date], [updated_time]) VALUES (1, N'MENDELIN SHOP', N'ABUJA', N'VERITAS UNIVERSITY', N'<p>
	My store is located at Veritas University</p>
', 1, CAST(N'2021-07-21' AS Date), CAST(N'20:03:16.1833333' AS Time))
SET IDENTITY_INSERT [dbo].[Store] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_dict_tables] ON 

INSERT [dbo].[tbl_dict_tables] ([rec_id], [panel_id], [table_name], [key_name]) VALUES (1, N'PnlCategory', N'category', N'rec_id')
INSERT [dbo].[tbl_dict_tables] ([rec_id], [panel_id], [table_name], [key_name]) VALUES (3, N'PnlCustomerUser', N'CustomerUsers', N'rec_id')
INSERT [dbo].[tbl_dict_tables] ([rec_id], [panel_id], [table_name], [key_name]) VALUES (4, N'PnlProduct', N'Product', N'rec_id')
SET IDENTITY_INSERT [dbo].[tbl_dict_tables] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_user_log] ON 

INSERT [dbo].[tbl_user_log] ([user_name], [log_url], [log_date], [log_time], [log_sql], [log_desc], [rec_id]) VALUES (N'admin', N'http://localhost:50057/User-Role', CAST(N'2021-07-21' AS Date), CAST(N'19:56:26.1800000' AS Time), N'C OPERATION: REC_ID = ; ROLE_NAME = COURIER; STATEMENTTYPE = INSERT; ', N'', 1)
INSERT [dbo].[tbl_user_log] ([user_name], [log_url], [log_date], [log_time], [log_sql], [log_desc], [rec_id]) VALUES (N'admin', N'http://localhost:50057/User-Role', CAST(N'2021-07-21' AS Date), CAST(N'19:57:55.5300000' AS Time), N'C OPERATION: REC_ID = USER/0000000001; ROLE_NAME = Administrator; STATEMENTTYPE = UPDATE; ', N'', 2)
INSERT [dbo].[tbl_user_log] ([user_name], [log_url], [log_date], [log_time], [log_sql], [log_desc], [rec_id]) VALUES (N'admin', N'http://localhost:50057/User-Role', CAST(N'2021-07-21' AS Date), CAST(N'19:57:56.6733333' AS Time), N'C OPERATION: REC_ID = ; ROLE_NAME = ; STATEMENTTYPE = INSERT; ', N'', 3)
SET IDENTITY_INSERT [dbo].[tbl_user_log] OFF
GO
SET IDENTITY_INSERT [dbo].[TransactionStock] ON 

INSERT [dbo].[TransactionStock] ([stock_id], [RetailerID], [CustomerID], [product_id], [quantity], [price], [date_sold], [time_sold], [flag_on], [stock_description], [updated_date], [updated_time], [orderID]) VALUES (4, 1, 1, 2, 1, CAST(100000.00 AS Decimal(18, 2)), N'23/07/2021', N'11:34 AM', 0, N'Edna Dress', CAST(N'2021-07-23' AS Date), CAST(N'12:34:27.7833333' AS Time), 1)
INSERT [dbo].[TransactionStock] ([stock_id], [RetailerID], [CustomerID], [product_id], [quantity], [price], [date_sold], [time_sold], [flag_on], [stock_description], [updated_date], [updated_time], [orderID]) VALUES (5, 1, 1, 2, 1, CAST(100000.00 AS Decimal(18, 2)), N'23/07/2021', N'11:44 AM', 1, N'Edna Dress', CAST(N'2021-07-23' AS Date), CAST(N'12:44:11.7600000' AS Time), 2)
INSERT [dbo].[TransactionStock] ([stock_id], [RetailerID], [CustomerID], [product_id], [quantity], [price], [date_sold], [time_sold], [flag_on], [stock_description], [updated_date], [updated_time], [orderID]) VALUES (6, 1, 1, 3, 1, CAST(50000.00 AS Decimal(18, 2)), N'23/07/2021', N'11:44 AM', 1, N'3/4 Sleeve Kimono Dress', CAST(N'2021-07-23' AS Date), CAST(N'12:44:11.7700000' AS Time), 2)
SET IDENTITY_INSERT [dbo].[TransactionStock] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([roleID], [role_name], [updated_date], [updated_time]) VALUES (1, N'Administrator', CAST(N'2021-07-21' AS Date), CAST(N'19:53:35.9600000' AS Time))
INSERT [dbo].[UserRole] ([roleID], [role_name], [updated_date], [updated_time]) VALUES (2, N'User', CAST(N'2021-07-21' AS Date), CAST(N'19:54:04.8766667' AS Time))
INSERT [dbo].[UserRole] ([roleID], [role_name], [updated_date], [updated_time]) VALUES (3, N'COURIER', CAST(N'2021-07-21' AS Date), CAST(N'19:56:26.0466667' AS Time))
SET IDENTITY_INSERT [dbo].[UserRole] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([roleID], [userID], [fullname], [username], [userpassword], [email], [telephone], [updated_date], [updated_time]) VALUES (1, 1, N'JOHNWNDY NEDDY', N'admin', N'mmPnx9f3lWlheMlx2D13dw==', N'admin@gmail.com', N'07031268439', CAST(N'2021-07-21' AS Date), CAST(N'19:55:16.5233333' AS Time))
INSERT [dbo].[Users] ([roleID], [userID], [fullname], [username], [userpassword], [email], [telephone], [updated_date], [updated_time]) VALUES (2, 2, N'BERLIN', N'user', N'mmPnx9f3lWlheMlx2D13dw==', N'user@gmail.com', N'08033925178', CAST(N'2021-07-21' AS Date), CAST(N'19:58:48.7400000' AS Time))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT (getdate()) FOR [updated_date]
GO
ALTER TABLE [dbo].[category] ADD  DEFAULT (getdate()) FOR [updated_time]
GO
ALTER TABLE [dbo].[CustomerUsers] ADD  DEFAULT (getdate()) FOR [updated_date]
GO
ALTER TABLE [dbo].[CustomerUsers] ADD  DEFAULT (getdate()) FOR [updated_time]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (getdate()) FOR [updated_date]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (getdate()) FOR [updated_time]
GO
ALTER TABLE [dbo].[ProductColor] ADD  DEFAULT (getdate()) FOR [updated_date]
GO
ALTER TABLE [dbo].[ProductColor] ADD  DEFAULT (getdate()) FOR [updated_time]
GO
ALTER TABLE [dbo].[ProductImage] ADD  DEFAULT (getdate()) FOR [updated_date]
GO
ALTER TABLE [dbo].[ProductImage] ADD  DEFAULT (getdate()) FOR [updated_time]
GO
ALTER TABLE [dbo].[ProductSize] ADD  DEFAULT (getdate()) FOR [updated_date]
GO
ALTER TABLE [dbo].[ProductSize] ADD  DEFAULT (getdate()) FOR [updated_time]
GO
ALTER TABLE [dbo].[Store] ADD  DEFAULT (getdate()) FOR [updated_date]
GO
ALTER TABLE [dbo].[Store] ADD  DEFAULT (getdate()) FOR [updated_time]
GO
ALTER TABLE [dbo].[tbl_user_log] ADD  DEFAULT (getdate()) FOR [log_date]
GO
ALTER TABLE [dbo].[tbl_user_log] ADD  DEFAULT (getdate()) FOR [log_time]
GO
ALTER TABLE [dbo].[TransactionStock] ADD  DEFAULT ((0)) FOR [flag_on]
GO
ALTER TABLE [dbo].[TransactionStock] ADD  DEFAULT (getdate()) FOR [updated_date]
GO
ALTER TABLE [dbo].[TransactionStock] ADD  DEFAULT (getdate()) FOR [updated_time]
GO
ALTER TABLE [dbo].[UserRole] ADD  DEFAULT (getdate()) FOR [updated_date]
GO
ALTER TABLE [dbo].[UserRole] ADD  DEFAULT (getdate()) FOR [updated_time]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [updated_date]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [updated_time]
GO
ALTER TABLE [dbo].[CustomerUsers]  WITH CHECK ADD  CONSTRAINT [fksRoleID] FOREIGN KEY([roleID])
REFERENCES [dbo].[UserRole] ([roleID])
GO
ALTER TABLE [dbo].[CustomerUsers] CHECK CONSTRAINT [fksRoleID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [fkProductCategoryID] FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([category_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [fkProductCategoryID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [fkUserIDProduct] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [fkUserIDProduct]
GO
ALTER TABLE [dbo].[ProductColor]  WITH CHECK ADD  CONSTRAINT [fkProductColor] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[ProductColor] CHECK CONSTRAINT [fkProductColor]
GO
ALTER TABLE [dbo].[ProductImage]  WITH CHECK ADD  CONSTRAINT [fkProductImageProductID] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[ProductImage] CHECK CONSTRAINT [fkProductImageProductID]
GO
ALTER TABLE [dbo].[ProductSize]  WITH CHECK ADD  CONSTRAINT [fkSizeID] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[ProductSize] CHECK CONSTRAINT [fkSizeID]
GO
ALTER TABLE [dbo].[Store]  WITH CHECK ADD  CONSTRAINT [fkUserIDStore] FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[Store] CHECK CONSTRAINT [fkUserIDStore]
GO
ALTER TABLE [dbo].[TransactionStock]  WITH CHECK ADD  CONSTRAINT [fkCustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CustomerUsers] ([userID])
GO
ALTER TABLE [dbo].[TransactionStock] CHECK CONSTRAINT [fkCustomerID]
GO
ALTER TABLE [dbo].[TransactionStock]  WITH CHECK ADD  CONSTRAINT [fkProductStockID] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[TransactionStock] CHECK CONSTRAINT [fkProductStockID]
GO
ALTER TABLE [dbo].[TransactionStock]  WITH CHECK ADD  CONSTRAINT [fkRetailerID] FOREIGN KEY([RetailerID])
REFERENCES [dbo].[Users] ([userID])
GO
ALTER TABLE [dbo].[TransactionStock] CHECK CONSTRAINT [fkRetailerID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [fkRoleID] FOREIGN KEY([roleID])
REFERENCES [dbo].[UserRole] ([roleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [fkRoleID]
GO
/****** Object:  StoredProcedure [dbo].[CRUDCategory]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CRUDCategory](@rec_id varchar(200), @category_name varchar(200),@StatementType varchar(200)) as 
BEGIN
IF @StatementType='INSERT'
insert into category(category_name) values(@category_name)
IF @StatementType='UPDATE'
UPDATE category SET category_name=@category_name where rec_id=@rec_id
END
GO
/****** Object:  StoredProcedure [dbo].[CRUDCustomerUsers]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CRUDCustomerUsers](@rec_id varchar(200), @roleID varchar(200), @fullname varchar(400), @username varchar(200), @userpassword varchar(200),
@email varchar(200), @telephone varchar(20), @StatementType varchar(200)) as 
BEGIN
IF @StatementType='INSERT'
insert into CustomerUsers(roleID, fullname, username,userpassword , email, telephone) values (@roleID, @fullname, @username,@userpassword , @email, @telephone)
IF @StatementType='UPDATE'
UPDATE CustomerUsers set roleID=@roleID, fullname=@fullname, username=@username,userpassword=@userpassword , 
email=@email, telephone=@telephone where rec_id=@rec_id

END
GO
/****** Object:  StoredProcedure [dbo].[CRUDProduct]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CRUDProduct](@rec_id varchar(200), @category_id varchar(200), @UserID varchar(200),
@product_name varchar(200), @Quantity varchar(200), @price varchar(200),
@img_profile varchar(200), @product_description varchar(max), @StatementType varchar(200)) as
BEGIN
if @StatementType='INSERT'
insert into Product( category_id, UserID, product_name,Quantity,price,img_profile,product_description) values (@category_id,@UserID, @product_name,@Quantity,@price,@img_profile,@product_description)
if @StatementType='UPDATE'
UPDATE Product SET category_id= @category_id, UserID=@UserID,
product_name=@product_name,Quantity=@Quantity,price=@price,img_profile=@img_profile,product_description=@product_description
WHERE rec_id=@rec_id
END
GO
/****** Object:  StoredProcedure [dbo].[CRUDProductColor]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CRUDProductColor](@rec_id varchar(200), @product_id varchar(200),@color_name varchar(200),
@StatementType varchar(200)) as 
BEGIN
IF @StatementType='INSERT'
INSERT INTO ProductColor(product_id,color_name) values (@product_id,@color_name)
if @StatementType='UPDATE'
update ProductColor set product_id=@product_id,color_name=@color_name where rec_id=@rec_id
END
GO
/****** Object:  StoredProcedure [dbo].[CRUDProductImage]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CRUDProductImage](@rec_id varchar(200), @product_id varchar(200), 
@img_profile varchar(200), @StatementType varchar(200)) as 
BEGIN
IF @StatementType='INSERT'
insert into ProductImage(product_id, img_profile) values (@product_id, @img_profile)
if @StatementType='UPDATE'
UPDATE ProductImage set product_id=@product_id, img_profile=@img_profile WHERE rec_id=@rec_id

END
GO
/****** Object:  StoredProcedure [dbo].[CRUDProductSize]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CRUDProductSize](@rec_id varchar(200), @product_id varchar(200),@size_name varchar(200),
@StatementType varchar(200)) as 
BEGIN
IF @StatementType='INSERT'
INSERT INTO ProductSize(product_id,size_name) values (@product_id,@size_name)
if @StatementType='UPDATE'
update ProductSize set product_id=@product_id,size_name=@size_name where rec_id=@rec_id
END
GO
/****** Object:  StoredProcedure [dbo].[CRUDStore]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CRUDStore](@rec_id varchar(200), @store_name varchar(200),
@branch_name varchar(200), @store_address varchar(max), @store_description varchar(max),
@userID varchar(200), @StatementType varchaR(200)) AS 
begin
if @StatementType='INSERT'
INSERT INTO Store(store_name,branch_name, store_address, store_description, userID)
VALUES (@store_name,@branch_name, @store_address, @store_description, @userID)
IF @StatementType='UPDATE'
update Store set store_name=@store_name,branch_name=@branch_name, store_address=@store_address, store_description=@store_description,
userID=@userID where rec_id=@rec_id

end
GO
/****** Object:  StoredProcedure [dbo].[CRUDTransactionStock]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CRUDTransactionStock](@rec_id VARCHAR(200),@RetailerID varchar(200), @CustomerID varchar(200),
@product_id varchar(200), @quantity varchar(200),@price varchar(200), @date_sold varchar(200),@time_sold varchar(200),
@flag_on varchar(200), @stock_description VARCHAR(MAX), @StatementType varchar(200)
) as 
BEGIN
if @StatementType='INSERT'
INSERT INTO TransactionStock(RetailerID,CustomerID, product_id, quantity, price, date_sold, time_sold, flag_on, stock_description)
VALUES (@RetailerID,@CustomerID, @product_id, @quantity, @price, @date_sold, @time_sold, @flag_on, @stock_description)
if @StatementType='UPDATE'
UPDATE TransactionStock SET RetailerID=@RetailerID,CustomerID=@CustomerID, product_id=@product_id, 
quantity=@quantity, price=@price, date_sold=@date_sold, time_sold=@time_sold,
flag_on=@flag_on, stock_description=@stock_description where rec_id=@rec_id
END
GO
/****** Object:  StoredProcedure [dbo].[CRUDUserRole]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CRUDUserRole](@rec_id varchar(200), @role_name varchar(200), @StatementType varchar(200)) as 
BEGIN
IF @StatementType='INSERT'
insert into UserRole(role_name) values(@role_name)
if @StatementType='UPDATE'
update UserRole set role_name=@role_name where rec_id=@rec_id
END
GO
/****** Object:  StoredProcedure [dbo].[CRUDUsers]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CRUDUsers](@rec_id varchar(200), @roleID varchar(200), @fullname varchar(400), @username varchar(200), @userpassword varchar(200),
@email varchar(200), @telephone varchar(20), @StatementType varchar(200)) as 
BEGIN
IF @StatementType='INSERT'
insert into Users(roleID, fullname, username,userpassword , email, telephone) values (@roleID, @fullname, @username,@userpassword , @email, @telephone)
IF @StatementType='UPDATE'
UPDATE Users set roleID=@roleID, fullname=@fullname, username=@username,userpassword=@userpassword , 
email=@email, telephone=@telephone where rec_id=@rec_id

END
GO
/****** Object:  StoredProcedure [dbo].[GetAudit]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetAudit](@StartIndex int, @PageSize int,
@TotalCount int output) as 
BEGIN
SELECT @TotalCount=count(1) from qry_AuditLog;
WITH CTE AS 
(
select top(@StartIndex  + @PageSize -1)RowNumber, UserName as [User Name],
LogUrl as [Log Url], LogSQL as [Log SQL], LogDate as [Log Date],
LogTime as [Log Time]
from qry_AuditLog 
)
select * from CTE where RowNumber between @StartIndex 

AND  (@StartIndex  + @PageSize -1)

END
GO
/****** Object:  StoredProcedure [dbo].[GetCategory]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetCategory] (@StartIndex int, @PageSize int, @TotalCount int output) as 
BEGIN
SELECT @TotalCount=count(1) from qry_category;
WITH CTE AS 
(
SELECT TOP (@StartIndex  + @PageSize -1) RowNumber, RecID, 
CategoryName as [Category Name], UpdatedDate as [Updated Date],
UpdatedTime as [Updated Time]
FROM qry_category
)
select * from CTE where RowNumber between @StartIndex AND (@StartIndex + @PageSize -1)
END
GO
/****** Object:  StoredProcedure [dbo].[GetColor]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetColor](@StartIndex int, @PageSize int, @TotalCount int output, @Search int) as 
BEGIN
select @TotalCount=count(1) from qry_Color;
WITH CTE AS
(
SELECT top(@StartIndex + @PageSize -1) RowNumber, RecID, ProductID, ProductName as [Product Name], Color,
UpdatedDate as [Updated Date], UpdatedTime as [Updated Time]
from qry_Color where UserID=@Search
)
select * from CTE where RowNumber between @StartIndex AND (@StartIndex + @PageSize -1)

END
GO
/****** Object:  StoredProcedure [dbo].[GetCustomerUser]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetCustomerUser](@StartIndex int, @PageSize int, @TotalCount int output, @Search int) as 
BEGIN
SELECT @TotalCount=COUNT(1) from qry_CustomerUser;
WITH CTE AS 
(
select top (@StartIndex + @PageSize -1) RowNumber,	RecID, RoleName, FullNames, UserName, [User Password], [Email Address], [Telephone Number],
UpdatedDate as [Updated Date], UpdatedTime as [Updated Time]
from qry_CustomerUser where UserID=@Search
)
select * from CTE where RowNumber between @StartIndex AND  (@StartIndex + @PageSize -1)

END
GO
/****** Object:  StoredProcedure [dbo].[GetImage]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetImage](@StartIndex int, @PageSize int, @TotalCount int output, @Search int) as 
BEGIN
SELECT @TotalCount=COUNT(1) from qry_Image;
with CTE AS 
(
select top(@StartIndex  + @PageSize -1) RowNumber, RecID, ProductID, ProductName as [Product Name],
ImagProfile as [Image Profile],  UpdatedDate as [Updated Date], UpdatedTime as [Updated Time] 
from qry_Image where UserID=@Search
)
select * from CTE where RowNumber between @StartIndex AND (@StartIndex + @PageSize -1)
END
GO
/****** Object:  StoredProcedure [dbo].[GetProduct]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetProduct](@StartIndex int, @PageSize int, @TotalCount int output,@Search int) as 
begin
SELECT @TotalCount=count(1) from qry_Product;
WITH CTE AS
(
select top(@StartIndex  + @PageSize -1)RowNumber,  RecID, ProductID, RetailerName,
CategoryName as [Category Name], ProductName as [Product Name]
, Quantity, Price, ProductDescription as [Product Description], ImgProfile as [Img Profile],
UpdatedDate as [Updated Date], UpdatedTime as 
[Updated Time] from qry_Product where Quantity >0  AND UserID=@Search
)
select * from CTE where RowNumber between @StartIndex AND (@StartIndex  + @PageSize -1)
end
GO
/****** Object:  StoredProcedure [dbo].[GetProductByCategory]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetProductByCategory](@StartIndex int, @PageSize int, @TotalCount int output, @Search varchar(max)) as 
BEGIN

SELECT @TotalCount=count(1) from qry_Product;
WITH CTE AS
(
select top(@StartIndex  + @PageSize -1)RowNumber,fms.score,  RecID, ProductID,
CategoryName as [Category Name], ProductName as [Product Name]
, Quantity, Price, ProductDescription as [Product Description],ImgProfile as [Img Profile], UpdatedDate as [Updated Date], UpdatedTime as 
[Updated Time], SOUNDEX(ProductName + CategoryName) AS SoundexCode from qry_Product CROSS APPLY(select dbo.FuzzyMatchString(@Search, ProductName + CategoryName) AS score) AS fms ORDER by fms.score desc  

)
select * from CTE where RowNumber between @StartIndex AND (@StartIndex  + @PageSize -1)

END
GO
/****** Object:  StoredProcedure [dbo].[GetProductForCustomer]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetProductForCustomer](@StartIndex int, @PageSize int, @TotalCount int output) as 
begin
SELECT @TotalCount=count(1) from qry_Product;
WITH CTE AS
(
select top(@StartIndex  + @PageSize -1)RowNumber,  RecID,ProductID, RetailerName,
CategoryName as [Category Name], ProductName as [Product Name]
, Quantity, Price, ProductDescription as [Product Description], ImgProfile as [Img Profile],
UpdatedDate as [Updated Date], UpdatedTime as 
[Updated Time] from qry_Product where Quantity >0  
)
select * from CTE where RowNumber between @StartIndex AND (@StartIndex  + @PageSize -1)
end
GO
/****** Object:  StoredProcedure [dbo].[GetSize]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetSize] (@StartIndex int, @PageSize int, @TotalCount int output, @Search int) as 
BEGIN
select @TotalCount=count(1) from qry_size;
WITH CTE AS 
(
SELECT top(@StartIndex + @PageSize -1) RowNumber, RecID, ProductID, ProductName as [Product Name], Size, UpdatedDate as 
[Updated Date], UpdatedTime as [Updated Time] from qry_size where UserID=@Search
)
select * from CTE where RowNumber between @StartIndex AND (@StartIndex  + @PageSize -1)

END
GO
/****** Object:  StoredProcedure [dbo].[GetStore]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetStore] (@StartIndex int, @PageSize int, @TotalCount int output, @Search int) as 
BEGIN
select @TotalCount=count(1) from qry_Store;
WITH CTE AS 
(
select top(@StartIndex  + @PageSize -1)RowNumber, RecID, FullName as [Full Names],
Email as [Email Address], TelephoneNo as [Telephone Number], StoreName as [Store Name],
BranchName as [Branch Name], StoreAddress as [Store Address], StoreDescription as [Store Description], 
UpdatedDate as [Updated Date], UpdatedTime as [Updated Time] from qry_Store where UserID=@Search
)
select * from CTE WHERE RowNumber between @StartIndex AND  (@StartIndex + @PageSize -1)
END
GO
/****** Object:  StoredProcedure [dbo].[GetTopProduct]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GetTopProduct] as 
begin
SELECT TOP 100 * from qry_product

end
GO
/****** Object:  StoredProcedure [dbo].[GetTransactionStockForCustomer]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetTransactionStockForCustomer](@StartIndex int, @PageSize int, @TotalCount int output, @Search int) as 
BEGIN 
SELECT @TotalCount=count(1) from qry_transaction;
WITH CTE AS 
(
SELECT TOP(@StartIndex + @PageSize -1)RowNumber,
RecID, case when Remark=1 THEN 'Payment Complete' when Remark=0
then 'Payment Pending' else 'Payment Complete' end as Remark, 
RetailerName as [Retailer Name], RetailerEmail as [Retailer Email],
RetailerTelephone as [Retailer Telephone], ConsumerName as [Consumer Name],
ConsumerEmail as [Consumer Email], ConsumerTelephone as [Consumer Telephone],
Quantity as Quantity, PriceSold as [Price Sold], DateSold as
[Date Sold], TimeSold as [Time Sold], UpdatedDate as [Updated Date],
UpdatedTime as [Updated Time]
FROM qry_transaction WHERE ConsumerID=@Search

)
select * from CTE where RowNumber between @StartIndex AND 
(@StartIndex + @PageSize -1)

END
GO
/****** Object:  StoredProcedure [dbo].[GetTransactionStockForRetailer]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[GetTransactionStockForRetailer](@StartIndex int, @PageSize int, @TotalCount int output, @Search int) as 
BEGIN 
SELECT @TotalCount=count(1) from qry_transaction;
WITH CTE AS 
(
SELECT TOP(@StartIndex + @PageSize -1)RowNumber,
RecID, case when Remark=1 THEN 'Payment Complete' when Remark=0
then 'Payment Pending' else 'Payment Complete' end as Remark, 
RetailerName as [Retailer Name], RetailerEmail as [Retailer Email],
RetailerTelephone as [Retailer Telephone], ConsumerName as [Consumer Name],
ConsumerEmail as [Consumer Email], ConsumerTelephone as [Consumer Telephone],
Quantity as Quantity, PriceSold as [Price Sold], DateSold as
[Date Sold], TimeSold as [Time Sold], UpdatedDate as [Updated Date],
UpdatedTime as [Updated Time]
FROM qry_transaction WHERE RetailerID=@Search

)
select * from CTE where RowNumber between @StartIndex AND 
(@StartIndex + @PageSize -1)

END
GO
/****** Object:  StoredProcedure [dbo].[GetUser]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetUser](@StartIndex int, @PageSize int, @TotalCount int output) as 
BEGIN
SELECT @TotalCount=COUNT(1) from qry_User;
WITH CTE AS 
(
select top (@StartIndex + @PageSize -1) RowNumber,	RecID, RoleName, FullNames, UserName, [User Password], [Email Address], [Telephone Number],
UpdatedDate as [Updated Date], UpdatedTime as [Updated Time]
from qry_User
)
select * from CTE where RowNumber between @StartIndex AND  (@StartIndex + @PageSize -1)

END
GO
/****** Object:  StoredProcedure [dbo].[GetUserRole]    Script Date: 9/9/2021 9:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetUserRole](@StartIndex int, @PageSize int, @TotalCount int output) as 
begin
select @TotalCount=count(1) from qry_Role;
with CTE AS 
(
select top(@StartIndex  + @PageSize -1)RowNumber, RecID, RoleName, UpdatedDate AS [Updated Date], UpdatedTime as [Updated Time] from qry_Role

)
select * from CTE WHERE RowNumber between @StartIndex AND (@StartIndex  + @PageSize - 1)

end
GO
